/* Mengatur tampilan halaman */
body {
    background-color: #f4f4f4; /* Warna latar belakang */
    font-family: Arial, sans-serif;
    text-align: center; /* Teks rata tengah */
    padding: 50px;
    margin: 0;
}

/* Mengatur tampilan judul */
h1 {
    color: #333; /* Warna teks */
    font-size: 28px;
}

/* Mengatur tampilan paragraf */
p {
    color: #666;
    font-size: 18px;
}
